// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import './styles/vars';
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
//** GOOGLE FONTS **\\
//! &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:regular,700&display=swap&subset=cyrillic-ext');
//** GOOGLE FONTS **\\
// DEFAULT FONT \\
$fontFamily: 'Josefin Sans';
$fontSize: 18;
$fontWeight: 400;
$mainColor: #fff;
// DEFAULT FONT \\
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import './styles/reset';
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// UI \\
@import './styles/ui';
// UI \\
// ================================================================================================================================================================================================================================================================================================================================
